{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended",
    "stylelint-config-standard-scss",
    "stylelint-config-clean-order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/order": [
      [
        "custom-properties",
        "dollar-variables",
        "declarations",
        "at-rules",
        "rules"
      ],
      {
        "unspecified": "bottom"
      }
    ]
  },
  "ignoreFiles": [
    "**/node_modules/**",
    "**/dist/**"
  ]
}
